<div class="main-container">
    <h1>¡Déjame un mensaje!</h1>
    <form class="formulario">
        <div class="campo">
      
            <input class="campo__field" type="text" placeholder="Tu Nombre" id="nombre">
        </div>
        <div class="campo">
            <input class="campo__field" type="email" placeholder="Tu Email" id="email">
        </div>
        <div class="campo">
            <textarea class="campo__field campo__field--textarea" placeholder="Tu Mensaje"  id="mensaje"></textarea>
        </div>
        <div class="campo">
            <input type="submit" value="Enviar" class="boton-enviar">
        </div>
    </form>
</div>
