<div class="main-container">
    <h1>Mis proyectos</h1>
    <div class="bottom-container">
        <a href="https://inmobiliaria-alvarez.netlify.app/" target="_blank">
            <div class="card">
                <h3>Inmobiliaria-APP</h3>
                 <p>[HTML SASS PHP MVC MYSQL JS ADMIN-AUTH]</p>
                 <img src="../../assets/img/proyecto1.PNG" alt="inmobiliaria-alvarez">
            </div>
        </a>

        <a href="https://blogdecafe-by-antonioalvarez.netlify.app/" target="_blank">
            <div class="card">
                <h3>Blog de café</h3>
                 <p>[HTML CSS GRID RESPONSIVE MODERNIZR WEBP]</p> 
                <img src="../../assets/img/proyecto4.PNG" alt="blogdecafe">
            </div>
        </a>

        <a href="https://fathomless-savannah-26199.herokuapp.com/" target="_blank">
            <div class="card">
                <h3>App Salon - Login</h3> 
                <p>[HTML SASS PHP MVC JS MYSQL AUTH-EMAIL-TOKEN ]</p> 
                <img src="../../assets/img/proyecto6.PNG" alt="app-salon-login">
            </div>
        </a>

        <a href="https://burraca-festival.netlify.app/" target="_blank">
            <div class="card">
                <h3>Electronic-festival</h3>
                 <p>[HTML RESPONSIVE SASS GULP JS]</p> 
                 <img src="../../assets/img/proyecto3.PNG" alt="electronic-festival">
            </div>
        </a>

        <a href="https://fathomless-savannah-26199.herokuapp.com/" target="_blank">
            <div class="card">
                <h3>App Salon - Citas</h3>
                 <p>[HTML SASS PHP MVC JS MYSQL API]</p> 
                 <img src="../../assets/img/proyecto5.PNG" alt="app-salon-cita">
            </div>
        </a>

        <a href="https://front-end-store-antonioalvarez.netlify.app/" target="_blank">
            <div class="card">
                <h3>Frontend Store</h3>
                 <p>[HTML CSS RESPONSIVE GRID BEM ]</p>
                  <img src="../../assets/img/proyecto2.PNG" alt="frontendstore">
            </div>
        </a>
    
    </div>
</div> 