<div class="main-container">
    <h1>Mis proyectos</h1>
    <div class="bottom-container">
        <a href="https://agora-techsolutions.com/" target="_blank">
            <div class="card">
                <h3>Agora TechSolutions</h3>
                <p>[PROYECTO-COMERCIAL REACT HIGHCHARTS MATERIAL-UI-X RESPONSIVE ]</p>
                <img src="../../assets/img/proyecto16.webp" alt="agora techsolutions">
            </div>
        </a>
        <a href="https://github.com/intentodepirata/backend-agora-nest" target="_blank">
            <div class="card">
                <h3>Backend NEST-JS</h3>
                <p>[TYPESCRIPT AUTH-TOKEN POSTGRE-SQL TYPE-ORM DOCKER ]</p>
                <img src="../../assets/img/proyecto17.webp" alt="backend nest">
            </div>
        </a>
        <a href="https://thesimpsoncharacters.netlify.app/" target="_blank">
            <div class="card">
                <h3>The Simpson-APP</h3>
                <p>[TYPESCRIPT REACT MATERIAL-UI FORMIK USECONTEXT]</p>
                <img src="../../assets/img/proyecto15.webp" alt="The Simpson Characters">
            </div>
        </a>
        <a href="https://criptoscheckprice.netlify.app/" target="_blank">
            <div class="card">
                <h3>Cryptos-CheckPrices</h3>
                <p>[REACT MATERIAL-UI HIGHCHARTS RESPONSIVE TAILWIND-CSS]</p>
                <img src="../../assets/img/proyecto14.webp" alt="Cryptos-CheckPrices">
            </div>
        </a>
        <a href="https://github.com/intentodepirata/backend_ecommerce.git/" target="_blank">
            <div class="card">
                <h3>Backend-Ecommerce</h3>
                <p>[NODE MVC SWAGGER BCRYPT MULTER MYSQL JWT JS]</p>
                <img src="../../assets/img/proyecto13.webp" alt="Backend-Ecommerce">
            </div>
        </a>
        <a href="https://inmobiliaria-alvarez.netlify.app/" target="_blank">
            <div class="card">
                <h3>Inmobiliaria-APP</h3>
                <p>[HTML SASS PHP MVC MYSQL JS ADMIN-AUTH]</p>
                <img src="../../assets/img/proyecto1.webp" alt="inmobiliaria-alvarez">
            </div>
        </a>

        <a href="https://blogdecafe-by-antonioalvarez.netlify.app/" target="_blank">
            <div class="card">
                <h3>Blog de café</h3>
                <p>[HTML CSS GRID RESPONSIVE MODERNIZR WEBP]</p>
                <img src="../../assets/img/proyecto4.webp" alt="blogdecafe">
            </div>
        </a>
        <a href="https://rickymortyapp-lucatoni.netlify.app/" target="_blank">
            <div class="card">
                <h3>Ricky & Morty APP </h3>
                <p>[REACT FETCH-API MATERIAL-UI RICKY&MORTY-API ]</p>
                <img src="../../assets/img/proyecto12.webp" alt="creapostal MATERIAL-UI" />
            </div>
        </a>

        <a href="https://releevantstore.netlify.app/" target="_blank">
            <div class="card">
                <h3>My Releevant Store</h3>
                <p>[HTML CSS JAVASCRIPT LOCALSTORAGE LOGIN ]</p>
                <img src="../../assets/img/proyecto7.webp" alt="RELEEVANTSTORE">
            </div>
        </a>
        <a href="https://reparaciones-smartphone.netlify.app/" target="_blank">
            <div class="card">
                <h3>Reparaciones SAT </h3>
                <p>[REACT RESPONSIVE LOCALSTORAGE TAILWINDCSS ]</p>
                <img src="../../assets/img/proyecto8.webp" alt="REPARACIONES-SMARTPHONE">
            </div>
        </a>
        <a href="https://controla-tus-gastos-app.netlify.app/" target="_blank">
            <div class="card">
                <h3>Control de gastos </h3>
                <p>[REACT CSS RESPONSIVE SWIPEABLE-REACT ]</p>
                <img src="../../assets/img/proyecto9.webp" alt="CONTROL DE GASTOS">
            </div>
        </a>
        <a href="https://burraca-festival.netlify.app/" target="_blank">
            <div class="card">
                <h3>Electronic-festival</h3>
                <p>[HTML RESPONSIVE SASS GULP JS]</p>
                <img src="../../assets/img/proyecto3.webp" alt="electronic-festival">
            </div>
        </a>

        <a href="https://fathomless-savannah-26199.herokuapp.com/" target="_blank">
            <div class="card">
                <h3>App Salon - Citas</h3>
                <p>[HTML SASS PHP MVC JS MYSQL API]</p>
                <img src="../../assets/img/proyecto5.webp" alt="app-salon-cita">
            </div>
        </a>

        <a href="https://front-end-store-antonioalvarez.netlify.app/" target="_blank">
            <div class="card">
                <h3>Frontend Store</h3>
                <p>[HTML CSS RESPONSIVE GRID BEM ]</p>
                <img src="../../assets/img/proyecto2.webp" alt="frontendstore">
            </div>
        </a>

        <a href="https://dummyapi-fetch.netlify.app/" target="_blank">
            <div class="card">
                <h3>DUMMYAPI.IO</h3>
                <p>[FETCH-API JAVASCRIPT CSS RESPONSIVE DUMMYAPI ]</p>
                <img src="../../assets/img/proyecto10.webp" alt="DUMMYAPI">
            </div>
        </a>
        <a href="https://crear-una-postal.netlify.app/" target="_blank">
            <div class="card">
                <h3>Crea una Postal</h3>
                <p>[REACT VITE FETCH-API MATERIAL-UI NINJA-API ]</p>
                <img src="../../assets/img/proyecto11.webp" alt="creapostal MATERIAL-UI" />
            </div>
        </a>

        <a href="https://fathomless-savannah-26199.herokuapp.com/" target="_blank">
            <div class="card">
                <h3>App Salon - Login</h3>
                <p>[HTML SASS PHP MVC JS MYSQL AUTH-EMAIL-TOKEN ]</p>
                <img src="../../assets/img/proyecto6.webp" alt="app-salon-login">
            </div>
        </a>






    </div>
</div>