<div class="main-container">
    <h1>Sobre Mi</h1>
    <div class="top-container">
        <div class="img-container">
            <img src="../../assets/img/sobre-mi3.webp" alt="jr">
        </div>
        <div class="short-description">
            <p class="saludo">Hey, Soy Toni 👋</p>
            <p class="desarrollador">Desarrollador Full Stack</p>
        </div>
    </div>
    <div class="sobre-mi">
        <p>Sobre mi</p>
        <p>Me considero una <span class="resaltar">persona proactiva, ambiciosa y muy competitiva</span>, siempre
            intento esforzarme al máximo, superar mis límites y también ponerme a prueba con cualquier cosa que pueda
            hacer.</p>
        <p>Tengo dos pasiones, <span class="resaltar">el desarrollo web y la electronica</span>, tambien que alguien te
            ayude es muy importante para seguir hacia delante, por eso me encanta ayudar a la gente, siempre que está en
            mi mano el poder resolverle una duda a alguien o enseñarle algo, lo hago encantado.</p>
        <p>En mi tiempo libre me gusta patinar, conocer skateparks nuevos y conocer gente, actualmente mi objetivo es
            seguir demostrándome a mi y al mundo que, <span class="resaltar">si de verdad quieres algo, con ganas,
                constancia y un buen plan puedes conseguirlo.</span></p>
        <p>Despues de 8 años al frente de una conocida empresa en la que me ocupaba de todo lo relacionado con el
            Servicio Tecnico Autorizado principalmente para una de las marcas numero 1 del mundo en telefonia, reparando
            todo tipo de dispositivos moviles, formando a personal nuevo y tratando con muchos compañeros y personas en
            el dia a dia te das cuenta que realmente
            <span class="resaltar">la clave para estar al 100% es que te guste lo que haces.</span>
        </p>
        <p>Por eso en esta nueva etapa de mi vida, en el desarrollo web, con un mundo nuevo por delante, aprendiendo dia
            a dia, puedo darlo todo y asi es como más feliz me siento</p>
    </div>

</div>